.btn {
    font-family: 'Open Sans';
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #fff;
    color: #262626;
    border-radius: 10px;
    height: 100%;
    width: 30%;
    font-weight: 600;
    transition: 0.2s ease;
    cursor: pointer;
    outline: 0;
}

.btn:hover {
    color: #FFF;
    background: #455AF7;
}

.btn-day {
    font-family: 'Open Sans';
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 99;
    outline: 0;
    border-radius: 5px;
    transition: 0.4s all;
}

.btn-day.active {
    color: rgb(255, 255, 255);
    font-weight: 600;
    z-index: 99;
    background: #455AF7;
    transition: 0.5s all;
}

.text-field {
    height: 96%;
    width: 60%;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    margin-right: 2%;
}

.title {
    font-size: 1.3em;
}

.subtitle {
    font-size: 1.1em;
}

/* Calendar */
.calendar {
    height: 95%;
    width: 95%;
    border-radius: 18px;
    background: #ffffff;
    user-select: none;
    position: absolute;
}

#calendar {
    width: 100%;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    width: 96%;
    height: 20%;
}

#prevMonth, #nextMonth{
    font-size: 25px;
    font-weight: 700;
}

.calendar-table {
    height: 38%;
}

.calendar-input {
    display: flex;
    width: 100%;
    height: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    position: absolute;
    bottom: 14%;
    align-items: center;
    justify-content: center;
}

.day-assets {
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    position: absolute;
    top: 86%;
    bottom: 5%;
}

.month {
    display: inline;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 0.7em;
}

.weekends th {
    font-size: 1em;
    color: gray;
    font-weight: 400;
    width: 12%;
}

#calendar tr {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* margin: 3px; */
}

#calendar td {
    display: flex;
    height: 14%;
    width: 12%;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

#date-submit {
    width: 32%;
}