.node.default rect {
    stroke: rgb(143, 111, 255);
    stroke-width: 2px;
    fill: rgb(255, 255, 255);
}

.node.default.normal rect {
    stroke: rgb(143, 111, 255);
    stroke-width: 2px;
    fill: rgb(255, 255, 255);
    transition: all 0.3s;
}

.node.default.focused rect {
    stroke: rgb(95, 64, 210);
    stroke-width: 2.5px;
    fill: rgb(237, 233, 251);
    transition: all 0.3s;
}

.node.default.unfocused rect {
    stroke: rgb(218, 208, 255);
    stroke-width: 1.5px;
    fill: rgb(255, 255, 255);
    transition: all 0.3s;
}

.node.highlight rect {
    stroke: rgb(255, 111, 111);
    stroke-width: 2px;
    fill: rgb(255, 255, 255);
}

.node.highlight.normal rect {
    stroke: rgb(255, 111, 111);
    stroke-width: 2px;
    fill: rgb(255, 255, 255);
    transition: all 0.3s;
}

.node.highlight.focused rect {
    stroke: rgb(248, 43, 43);
    stroke-width: 2.5px;
    fill: rgb(248, 215, 215);
    transition: all 0.3s;
}

.node.highlight.unfocused rect {
    stroke: rgb(253, 172, 172);
    stroke-width: 1.5px;
    fill: rgb(255, 255, 255);
    transition: all 0.3s;
}

.node a {
    display: block;
}

.node a:link {
    color: #000000;
    text-decoration: none;
}

.node a:visited {
    color: #000000;
    text-decoration: none;
}

.node a:hover {
    color: #000000;
    text-decoration: none;
}