.tooltip {
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 2px;
    position: absolute;
    background-color: #000000b4;
    color: rgb(255, 255, 255);
    min-width: 50px;
    max-width: 200px;
    min-height: 50px;
    left: -500px;
    top: -500px;
    overflow-wrap: anywhere;
}

.sidebar {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    overflow-x: hidden;
    background-color: rgb(249, 242, 237);
    transition: 0.5s;
}

.sidebar .sidebar-header {
    font-size: 30px;
    white-space: nowrap;
    text-align: center;
}

.sidebar .sidebar-item {
    font-size: 15px;
}

.content {
    transition: 0.5s;
    position: absolute;
    height: 100%;
    width: 75%;
    left: 25%;
    top: 0%;
    padding: 0;
}

.nav {
    height: 5%;
    background-color: rgb(249, 242, 237);
    display: flex;
    align-items: center;
}

.nav .toggle-button {
    font-size: 15px;
    border-radius: 5px;
    background-color: rgb(125, 205, 255);
    height: 80%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas {
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas .canvas-display {
    border-style: solid;
    border-color: rgb(88, 85, 82);
    overflow: hidden;
    height: 95%;
    width: 95%;
}