body {
    background-color: rgb(249, 242, 237);
}

.tooltip {
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 2px;
    position: absolute;
    background-color: #000000b4;
    color: rgb(255, 255, 255);
    min-width: 50px;
    max-width: 200px;
    min-height: 50px;
    left: -500px;
    top: -500px;
    overflow-wrap: anywhere;
}

.sidebar {
    width: 25%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    border: rgb(201, 184, 171);
    border-width: 0 4px 0 0;
    border-style: dotted;
    overflow: hidden;
    transition: 0.5s;
}

.sidebar .sidebar-header {
    height: 6.6%;
    font-size: 30px;
    min-height: 60px;
    white-space: nowrap;
    text-align: center;
    user-select: none;
    border: rgb(201, 184, 171);
    border-width: 0 0 4px 0;
    border-style: dotted;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .sidebar-item {
    font-size: 15px;
}

.sidebar .sidebar-calendar {
    height: 28%;
    width: 100%;
    min-height: 250px;
    position: absolute;
    bottom: 0%;
    border: rgb(201, 184, 171);
    border-width: 4px 0 0 0;
    border-style: dotted;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    transition: 0.5s;
    position: absolute;
    height: 100%;
    width: 75%;
    left: 25%;
    top: 0%;
    padding: 0;
}

.nav {
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .nav-button-wrapper {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .nav-button-wrapper .nav-button {
    font-size: 15px;
    border-radius: 5px;
    height: 80%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    transition: 0.2s ease;
}

.option {
    width: 32px;
    height: 32px;
}

/* .nav .nav-button-wrapper .toggle-button {
    background-color: rgb(125, 205, 255);
}

.nav .nav-button-wrapper .toggle-button:hover {
    background-color: rgb(192, 229, 252);
}

.nav .nav-button-wrapper .clear-button {
    background-color: rgb(237, 83, 83);
}

.nav .nav-button-wrapper .clear-button:hover {
    background-color: rgb(241, 139, 139);
} */

.logo {
    margin-right: 15px;
}

.canvas {
    width: 100%;
    height: 95%;
    position: relative;
    border-radius: 10px;
}

.canvas .canvas-display {
    border-style: solid;
    border-color: rgb(201, 184, 171);
    background-color: rgb(249, 242, 237);
    overflow: hidden;
    position: absolute;
    height: 97%;
    width: 97%;
    left: 1.5%;
    right: 1.5%;
    bottom: 1.0%;
    border-radius: 10px;
}

.legend {
    position: absolute;
    border-radius: 15px;
    top: 10px;
    left: 10px;
    width: 20%;
    height: 15%;
    min-width: 140px;
    min-height: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(251, 251, 250, 0.9);
    border-style: solid;
    border-color: rgb(201, 184, 171);
    border-width: 2px;
}

.legend .legend-item {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.legend .legend-item .legend-example {
    width: 20%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.legend .legend-item .legend-explain {
    width: 80%;
    float: left;
}

.legend-star {
    font-size: medium;
}

.icon-star {
    font-size: 20px;
    margin-left: 2px;
}

.dwelltime-star {
    color: rgb(231, 221, 125);
}

.launch-star {
    color: rgb(212, 59, 59);
}

.collect-star {
    color: rgb(93, 209, 85);
}

.legend-line {
    font-size: medium;
}

.highlight-line {
    color: rgb(255, 111, 111);
}